<header role="banner">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-9 social">
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="https://web.facebook.com/profile.php?id=100068891093261" target = "_blank"><span class="fa fa-facebook"></span></a>
            <a href="https://www.instagram.com/techn9054/" target = "_blank"><span class="fa fa-instagram"></span></a>
            <a href="https://www.youtube.com/@techno2299/videos" target = "_blank"><span class="fa fa-youtube-play" ></span></a>
          </div>
          <div class="col-3 search-top">
            <!-- <a href="#"><span class="fa fa-search"></span></a> -->
            <form id = "searchForm" action="{% url 'home'%}" class="search-top-form" method="GET">
              
              <input type="text" id="s" placeholder="Search" name = "search" value = "{{search}}">
              <input type="submit" value="search">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container logo-wrap">
      <div class="row pt-5">
        <div class="col-12 text-center">
          <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
          <h1 class="site-logo"><a href="{% url 'home'%}">TECHNO</a></h1>
        </div>
      </div>
    </div>
    
    <nav class="navbar navbar-expand-md  navbar-light bg-light">
      <div class="container">
        
       
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Business</a>
            </li>
            
            <li class="nav-item dropdown">
             
              <a class="nav-link dropdown-toggle" href="{% url 'home'%}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                {% for i in cate %}
                <a class="dropdown-item" href="?category={{i.cate_name}}">{{i.cate_name}}</a>
                {% endfor %}
              </div>
            </li>
  
        
         
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact'%}">Contact</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>

