


<div class="col-md-12 col-lg-4 sidebar">


 
        <div class="sidebar-box">
          <div class="bio text-center">

            <div class="bio-body">
              <h2> nayana Nimsara </h2>
              <p> Hello, I'm Nayana Nimsara, a passionate Django-based web developer with a knack for creating efficient and user-friendly web applications. My journey in the world of web development has equipped me with a strong foundation in Django, allowing me to bring ideas to life with clean and scalable code.</p>
              <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
              <p class="social">
                <a href="https://web.facebook.com/profile.php?id=61553191440770" class="p-2"><span class="fa fa-facebook"></span></a>
               
                <a href="https://www.youtube.com/@techno2299/videos" class="p-2"><span class="fa fa-youtube-play"></span></a>
              </p>
            </div>
          </div>
       
        </div>
       
    </div>

    
    </div>
    

</section>